{% set title = '404' %}

{% extends 'template/layout/main.twig' %}

{% block page %}
	<section class="section section_offset">
		<div class="container">
			<h2 class="section__title">Page not found</h2>

			<p class="mt-2">The page you are looking for might have been removed.</p>
		</div>
	</section>
{% endblock %}
