<header id="header" class="header section_offset">
	<div class="container">
		<div class="d-flex align-items-center">
			<div class="mr-4 flex-shrink-0">
				<img src="/src/img/vite-logo.svg" alt="Vite Logo" height="100">
			</div>

			<div>
				<h1 class="d-flex align-items-center gap-2 mb-4">
					<span>{{ APP_NAME }}</span>
					<span class="label label_primary">v{{ APP_VERSION }}</span>
				</h1>

				<p class="m-0">
					<a href="{{ APP_REPOSITORY }}" target="_blank" class="font-bold">{{ APP_NAME_FORMATTED }}</a>
					is a boilerplate kit for easy building modern static web-sites using Vite builder.
				</p>
			</div>
		</div>
	</div>
</header>
